# yesses #

Simple tool to enumerate domains and IPs and test those domains and
IPs for basic network and web security properties.

## Usage ##

```
{{usage}}
```

## Configuration file ##

[todo]

### `expect` ###
Expects arguments of the form "no added X, otherwise action args".

## Modules ##

The following modules are currently provided by yesses. For each
module, a short description in given plus a list of input and output
fields. The field names can be used in the yaml configuration file. 

{% for module_name, modules in modules.items() %}
{% for module in modules %}
### `{{ module_name }} {{ module.__name__ }}` ###
{{ module.__doc__ }}

#### Inputs ####

| Name             | Description    | Required keys                                            |
|------------------|----------------|----------------------------------------------------------|
{% for field, input in module.INPUTS.items() -%}
| `{{ field }}` {% if not 'default' in input %}(required){% endif %} | {{ input['description'] }} | {% if input['required_keys'] %}`{{ '`, `'.join(input['required_keys']) }}`{% endif %} |
{% endfor %}

{% for field, input in module.INPUTS.items() -%}
{% if 'default' in input %}
##### Default for `{{ field }}` #####
```
{{ input['default']|yaml -}}
```
{% endif %}
{% endfor %}

#### Outputs ####

| Name             | Description    | Provided keys                                            |
|------------------|----------------|----------------------------------------------------------|
{% for field, output in module.OUTPUTS.items() -%}
| `{{ field }}` | {{ output['description'] }} | {% if output['provided_keys'] %}`{{ '`, `'.join(output['provided_keys']) }}`{% endif %} |
{% endfor %}

{% endfor %}
{% endfor %}
