requests
dnspython
python-nmap
pyyaml>=5
git+https://github.com/takeshixx/python-ssllabs.git
jinja2
prettytable
slackclient
git+https://github.com/danielfett/tlsprofiler
pyparsing
bs4
lxml
comment_parser
pytest

