{% macro dump(item) %}
{% if item is mapping %}
<table class="findingstable">
  {% for key, value in item.items() %}
  <tr>
    <th>{{ key }}</th>
    <td>{{ dump(value) }}</td>
  </tr>
  {% endfor %}
</table>
{% elif item is iterable and item is not string %}
<ul>
  {% for el in item %}
  <li>{{ dump(el) }}</li>
  {% endfor %}
</ul>
{% else %}
<span class="finding">{{ item }}</span>
{% endif %}
{% endmacro %}

<html>
    <head>
            
        <style>
         html {
	     font-family: HelveticaNowText-Regular, Helvetica Neue, Helvetica, sans-serif;
	     font-size: 1.1em;
	     text-size-adjust: 100%
         }
         body {
	     color: #222;
	     line-height: 1.6;
	     margin: 0
         }

         a {
	     text-decoration: none
         }

         a:hover {
	     text-decoration: underline
         }

         code,
         kbd,
         pre {
	     font-family: Roboto Mono, monospace
         }

         b,
         dt,
         strong,
         th {
	     font-weight: 500
         }
         .doc h1,
         .doc h2,
         .doc h3,
         .doc h4,
         .doc h5,
         .doc h6 {
	     color: #191919;
	     font-weight: 400;
	     line-height: 1.3;
	     margin: 1rem 0 0
         }
         .doc>h1 {
	     font-size: 2rem;
	     border: 1px solid #000;
	     border-radius: 18vw;
	     padding: 1rem 2rem;
	     width: -webkit-fit-content;
	     width: -moz-fit-content;
	     width: fit-content;
	     margin: 2rem 0 1.5rem -1rem
         }
         .doc p {
	     font-size: .95rem;
	     margin: 0
         }
         .doc ol,
         .doc ul {
	     margin: 0;
	     padding: 0 0 0 2rem
         }

         .doc ol li:before {
	     color: #444;
	     font-size: .75rem
         }
         .doc {
	     margin: 0 auto;
	     max-width: 40rem;
	     padding: 0 1rem 4rem;
	     color: #333
         }
         .doc h3 {
	     font-weight: 500
         }

         .doc h5 {
	     font-size: 1em;
	     font-style: italic
         }
         .step-raw, .log-raw {
             white-space: pre;
             font-family: monospace;
             padding: 1rem 1rem .75rem;
             background-color: #fafafa;
             width: 100%;
         }
         .findings > ol {
             display: table;
             width: 100%;
             padding: 0 !important;
             border: 1px solid #999;
             counter-reset: section;
         }
         .findings > ol > li:before {
             counter-increment: section;
             content: "Finding " counter(section);
             padding: 0.5rem;
         }
         .findings > ol > li {
             display: table-row;
             padding: 1rem;
         }
         .findings > ol > li:nth-child(even) {
             background: #eee
         }
         
         .findings > ol > li:nth-child(odd) {
             background: #fff
         }

         .findings table th {
             font-weight: bold;
             text-align: right;
             vertical-align: top;
             padding-right: 2ex;
             width: 20%;
         }

         .findings table {
             border: 1px solid #999;
             margin: 0 0 0.5rem 0;
             width: 90%;
         }

         .summarytable th {
             font-weight: bold;
             text-align: left;
         }

         .summarytable {
             border: 1px solid #999;
             margin: 0 0 0.5rem 0;
             width: 30%;
         }

         .summarytable .number {
             text-align: right !important;
         }
         
         .rule {
             font-style: italic;
         }

         .doc h3 {
             margin-top: 2rem !important;
         }

         .finding {
             font-family: monospace;
         }
        </style>
        

    </head>
    <body>
        <article class="doc">
            <h1>yesses report</h1>
            <p>Run started {{ started }}</p>
            <p>Report generated {{ created }}</p>
            <p>Summary:
                <table class="summarytable">
                    <tr>
                        <th>
                            Severity
                        </th>
                        <th class="number">
                            #&nbsp;Alerts
                        </th>
                        <th class="number">
                            #&nbsp;Findings
                        </th>
                    </tr>
                    {% for line in summary %}
                        <tr>
                            <td>
                                {{ line.severity.name }}
                            </td>
                            <td class="number">
                                {{ line.alerts }}
                            </td>
                            <td class="number">
                                {{ line.findings }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </p>
            <h2>Alerts</h2>
            {% for alert in alerts %}
                {% if loop.changed(alert.severity) %}
                    <h3 class="severity-{{ alert.severity.name }}">Severity {{ alert.severity.name }}</h3>
                {% endif %}
                <h4><span class="violation-of">Violation of</span> <span class="rule">{{ alert.violated_rule }}</span></h4>
                <details>
                    <summary class="step-explain">In <a href="#step-{{ alert.step.number }}">Step #{{ alert.step.number }}</a>: <b>{{ alert.step.name }}</b></summary>
                    <p class="step-raw">{{- alert.step -}}</p>
                </details>

                
                {% for name, findings in alert.findings.items() %}
                <details class="findings">
                    <summary>{{ findings|length }} {{ name }}</summary>
                    <ol>
                        {% for finding in findings %}
                            <li>{{ dump(finding) }}</li>
                        {% endfor  %}
                    </ol>
                </details>
                {% endfor %}
            {% endfor %}
            <h2>Steps</h2>
            {% for step in steps %}
                <h3 id="step-{{ step.number }}">Step #{{ step.number }}: {{step.name}}</h3>
                <details>
                    <summary>{{ step.inputs|count }} input variables</summary>
                    <p class="log-raw">{{- step.get_inputs() -}}</p>
                </details>                            
                        
                <details class="log">
                    <summary>Execution took {{ '%.1f' % step.duration.total_seconds()}}s</summary>
                    <p class="log-raw">{{- step.get_log() -}}</p>
                </details>
                
                <details>
                    <summary>{{ step.outputs|count }} output variables</summary>
                    <p class="log-raw">{{- step.get_outputs() -}}</p>
                </details>                                            
            {% endfor %}
        </article>
    </body>
</html>
